.home {
  text-align: center;
}

.vertical {
  width: 640px;
  min-height: 400px;
  margin: 80px auto;
}

.defaultButton {
  display: block;
  margin-top: 30px;
  margin: 40px auto 0;
  border: none;
  padding: 10px;
  background: #2c3e50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.goToHomeButton {
  border: none;
  background: none;
  color: black;
  padding: 0;
  text-decoration: underline;
}

.unorderedList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.articlesIndexHeading {
  text-align: center;
}

.article {
  border-radius: 4px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.listItem {
  margin-top: 40px;
  h2 {
    margin: 0;
  }
}

.show {
  margin-top: 20px;
  h1 {
    margin: 0;
  }
}

.tags {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  li {
    font-size: 12px;
    background: #f2f3f4;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.autorAndDate {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
}

.description {
  margin-top: 30px;
}

.content {
  margin-top: 30px;
  line-height: 1.5;
}
